@charset "UTF-8";

/*verder: #49a09d
lilas: #5f2c82 */

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100vw;

}
body{
    background-image: linear-gradient(to bottom , #2b2e5ee5,#a05cc0,#df9aa6);
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 270px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    position: fixed;
}
section.login div.imagem{
    display: block;
    background: rgb(121, 13, 35) url('https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_1280.jpg') ;
    height: 200px;
    background-position: center center;
    background-size: 100vh;
}
section.login div.formi{
    display: block;
    padding: 10px;
}